<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @campaign.title %>
</p>
<table>
  <thead>
    <tr>
      <th>Candidate</th>
      <th>Votes</th>
      <th>Uncounted</th>
      <th>Pre</th>
      <th>Post</th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.votes.valid.count %></td>
        <td><%= c.votes.invalid.count %></td>
        <td><%= c.votes.pre.count %></td>
        <td><%= c.votes.post.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', campaigns_path %>
